<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drag and drop area</title>
</head>

<body>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #drop_area {
            width: 80vw;
            height: 20vh;
            background-color: cadetblue;
        }
    </style>
    <script>
        // function allowDrop(ev) {
        //     ev.preventDefault();
        //     ev.dataTransfer.dropEffect = 'move';
        // }
        // function dropFiles(ev) {
        //     ev.preventDefault();
        //     let files = ev.dataTransfer.files;
        //     console.log(files)
        // }
    </script>
    <div id="drop_area">
    </div>
</body>

</html>